@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Lalezar');

$primary-colour1: #fed12e;
$primary-colour2: #d62b23;
$primary-colour3: #354c59;
$title-font: 'Bungee Shade', cursive;
$headline-font: 'Yatra One', cursive;

body {
    padding-top: 60px;
}

.title {
    text-align: center;
    color: $primary-colour1;
    font: 75px $title-font;
    padding-bottom: 40px;
}

.headline {
    color: $primary-colour2;
    font: 40px $headline-font;
}

.img-circle {
    height: 180px;
}

.icons {
    padding-top: 30px;
    padding-bottom: 80px;
    font-size: 60px;
    text-align: center;
    a {
        color: $primary-colour1;
    }
    a:hover, a:active {
        color: $primary-colour3;
    }
}

.skills {
    padding-bottom: 50px;
    text-align: center;
    color: $primary-colour2;
    font-size: 140px;
    .html5:hover {
        color: #e34f26;
    }
    .css3:hover {
        color: #0079C6;
    }
    .js:hover {
        color: #F0DB4F;
    }
    .python:hover {
        color: #4584b6;
    }
    .postgresql:hover {
        color: #316192;
    }
    .git:hover {
        color: #6e5494;
    }
    .bootstrap:hover {
        color: #563D7C;
    }
    .sass:hover {
        color: #CD679A;
    }
    .jquery:hover{
        color: #0769ad;
    }
    .django:hover {
        color: #092e20;
    }
    .github:hover {
        color: #4078c0;
    }
}

.skills-header {
    
}