@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Lalezar');
@import url("https://fonts.googleapis.com/css?family=Caveat|Raleway");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url('https://fonts.googleapis.com/css?family=Roboto');


$primary-colour1: #D7263D;
$primary-colour2: #F0A202;
$primary-colour3: #0C120C;
$background: #EFF0F7;
$title-font: 'Share Tech Mono', monospace;
$body-font: 'Roboto', sans-serif;

body {
    padding-top: 70px;
}

nav {
    padding-right: 60px;
    padding-bottom: 20px;   
}
a.nav-link {
    font-family: $title-font;
    color: $primary-colour3;
    :hover, :active {
        color: $primary-colour1 !important;
        text-decoration: none;

    }
}
a.nav-link.active {
        text-decoration: line-through !important;
        :hover {
            text-decoration: line-through;
        }
    }

p.lead.bold {
    padding-top: 60px;
    font-family: $body-font;
    font-size: 3.5em;
    .em {
        font-weight: bold;
        color: $primary-colour2;
    }
    a {
        color: $primary-colour2 !important;
    }
}

.gap-above {
    padding-top: 100px;
}

.project-nav {
    padding-bottom: 40px;
}

ul.list-inline {
    padding-bottom: 20px;
    font-size: 25px;
    a {
        color: $primary-colour1;
        text-decoration: none;
        :hover {
            color: $primary-colour1;
            text-decoration: none;
        }
    }
}

.navigate a {
    font-size: 4em;
    color: $primary-colour2;
    padding-bottom: 40px;
    :hover {
        color: $primary-colour2;
    }
}

.projects {
    font-family: $title-font;
    color: $primary-colour2;
    font-size: 3.5em;
    padding-bottom: 60px;
}

.strike-through {
    text-decoration: line-through !important;
}

.project-tags {
    font-family: $title-font;
    text-align: right;
    padding-bottom: 60px;
    a {
        font-size: 15px;
        color: $primary-colour1;
        cursor: pointer;
    }
}

figure {
    padding-bottom: 50px;
    display: block;
    img {
        max-width: 300px;
        max-height: 300px;
    }
    figcaption {
        font-family: $body-font;
        .tags {
            font-size: 0.8em;
        }
        a {
            color: $primary-colour1;
            :link, :hover, :active {
                color: $primary-colour1 !important;
                text-decoration: none;
            }
        }
    }
}

div.bio {
    padding-top: 60px;
    padding-bottom: 100px;
    font-family: $body-font;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1.25px;
    .lead-bio {
        font-size: 17px;
    }
}

img.pro-pic {
    max-width: 300px;
    padding-top: 30px;
}

// below all for the mystreet page.

hr {
    color: $primary-colour1;
}

.case-study-header {
    font-family: $title-font;
    font-size: 60px;
    color: $primary-colour1;
}

.align-right {
    float: right;
    padding-bottom: 20px;
}

.market-research {
    text-align: center;
}

.market-research-text {
    list-style: none;
    font-family: $body-font;
    font-size: .85em;
    letter-spacing:.6px; 
    word-spacing: 2.7px; 
    line-height: 1.5;
    padding-bottom: 10px;
}

.persona-icon {
    font-size: 3em;
    text-align: center;
    color: $primary-colour2;
}

.research-questions {
    list-style: none;
    font-family: $body-font;
    font-size: 1em;
    letter-spacing:.6px; 
    word-spacing: 2.7px; 
    line-height: 1.5;
    padding-bottom: 10px;
}

.design-img {
    padding-bottom: 30px;
}