@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url('https://fonts.googleapis.com/css?family=Roboto');


$primary-colour1: #D7263D;
$primary-colour2: #F0A202;
$primary-colour3: #0C120C;
$background: #EFF0F7;
$title-font: 'Share Tech Mono', monospace;
$body-font: 'Roboto', sans-serif;