body {
    padding-top: 70px;
    background: url("images/gifu_monet_pond.jpg") no-repeat;
    background-size: cover;
}

.row {
    text-align: center;
}

.well {
    background-color: rgba(175,190,143,0.8);
    border-color: #646F58;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-circle {
    height: 180px;
}

.icons {
    font-size: 40px;
}