body {
    padding-top: 60px;
    /* background: url("images/gifu_monet_pond.jpg") no-repeat; */
    background-size: cover;
    background-color: white;
}

.title {
    text-align: center;
    color: #FED12E;
    font-size: 75px;
    font-family: 'Bungee Shade', cursive;
    padding-bottom: 40px;
}

.headline {
    color: #D62B23;
    font-family: 'Rubik', sans-serif;
}

.img-circle {
    height: 180px;
}

.icons {
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
.icons a {
    color: #FED12E;
}
.icons a:hover, a:active {
    color: #354C59;
}

.skills {
    text-align: center;   
}

.project-box {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

.placeholder {
    height: 300px;
    width: 350px;
    background-color: grey;
    margin: 0 auto;
    float: none;
    border-radius: 5px;
}

.second-row {
    padding-top: 40px;
}

.project {
    height: 300px;
}